body{
    margin: 0;
}

.ikPGallery-items{
    text-align: center;
    user-select: none;
}

.ikPGallery-image-wr{
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    position: relative;
    margin-bottom: 10px;
}

.ikPGallery-image-wr img{
    display: block;
    margin: auto;
}

.ikPGallery-image {
    max-width: 100%;
}

.ikPGallery-image-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 90;
    background: rgba(0,0,0,0.7);
}

.ikPGallery-image-popup{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100;
    background: #fff;
    padding: 20px;
    width: 100%;
    max-width: 350px;
    transform: translate3d(-50%,-50%,0);
    overflow: hidden;
}

.ikProductsGallery-points-type{
    margin: 0 -5px;
}

.ikProductsGallery-points-type:after{
    content: '';
    display: block;
    clear: both;
}

.ikProductsGallery-point{
    float: left;
    width: 16.6666666%;
    padding: 0 5px;
}

.ikProductsGallery-point label{
    display: block;
    cursor: pointer;
}

.ikProductsGallery-point label .point-icon{
    border: 1px solid transparent;
    padding: 5px 5px 2px;
    display: block;
}

.ikProductsGallery-point label input {
    position: absolute;
    left: -99999em;
}

.ikProductsGallery-point label input:checked + .point-icon{
    border-color: #007bff;
}

.ikProductsGallery-head{
    position: relative;
    padding-right: 40px;
    margin-bottom: 30px;
}

.ikProductsGallery-head h2{
    font-size: 24px;
    margin: 0;
    padding: 0;
}

.ikProductsGallery-close-btn{
    position: absolute;
    top: 50%;
    margin-top: -12px;
    right: 0;
    cursor: pointer;
}

.ikPGallery-icon-close {
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    position: relative;
}
.ikPGallery-icon-close:before,
.ikPGallery-icon-close:after {
    content: '';
    display: block;
    height: 2px;
    background: #7f7f7f;
    position: absolute;
    width: 23px;
}

.ikProductsGallery-close-btn:hover .ikPGallery-icon-close:before,
.ikProductsGallery-close-btn:hover .ikPGallery-icon-close:after{
    background: #4c4c4c;
}


.ikPGallery-icon-close:before{
    top: 8px;
    left: -2px;
    transform: translate3d(0, 0, 0) rotate(-45deg);
}
.ikPGallery-icon-close:after {
    top: 8px;
    left: -2px;
    transform: translate3d(0, 0, 0) rotate(45deg);
}

.ikPGallery-point{
    position: absolute;
    z-index: 10;
    text-align: left;
}

.ikPGallery-point-pin{
    position: absolute;
    width: 30px;
    height: 35px;
    bottom: 100%;
    left: 0;
    margin-left: -15px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.ikPGallery-point-pin img{
    display: block;
    width: 100%;
}

.ikPGallery-point-popup{
    position: absolute;
    width: 320px;
    background: #fff;
    padding: 20px;
    pointer-events: none;
    -webkit-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    transition: opacity .3s ease;
    opacity: 0;
    -webkit-box-shadow: 0 0 10px 2px rgba(0,0,0,.05);
    box-shadow: 0 0 10px 2px rgba(0,0,0,.05);
}

.ikPGallery-point-popup:before,
.ikPGallery-point-popup:after {
    content: '';
    position: absolute;
}

.ikPGallery-point-popup:before{
    height: 10px;
    left: 0;
    right: 0;
}

/** Position Y top */
.ikPGallery-point.popup-y-top .ikPGallery-point-popup{
    bottom: 100%;
    margin-bottom: 42px;
}
.ikPGallery-point.popup-y-top .ikPGallery-point-popup:before{
    top: 100%;
}
.ikPGallery-point.popup-y-top .ikPGallery-point-popup:after{
    border-style: solid;
    border-width: 6px 6px 6px 6px;
    border-color: #fff transparent transparent transparent;
    top: 100%;
}

/** Position Y bottom */
.ikPGallery-point.popup-y-bottom .ikPGallery-point-popup{
    top: 100%;
    margin-top: 6px;
}
.ikPGallery-point.popup-y-top .ikPGallery-point-popup:before{
    bottom: 100%;
}
.ikPGallery-point.popup-y-bottom .ikPGallery-point-popup:after{
    border-style: solid;
    border-width: 6px 6px 6px 6px;
    border-color: transparent transparent #fff transparent;
    bottom: 100%;
}

/** Position X center */
.ikPGallery-point.popup-x-center .ikPGallery-point-popup{
    left: 50%;
    margin-left: -160px;
}

.ikPGallery-point.popup-x-center .ikPGallery-point-popup:after{
    left: 50%;
    margin-left: -6px;
}

/** Position X left */
.ikPGallery-point.popup-x-left .ikPGallery-point-popup{
    right: -14px;
}

.ikPGallery-point.popup-x-left .ikPGallery-point-popup:after{
    right: 8px;
}

/** Position X right */
.ikPGallery-point.popup-x-right .ikPGallery-point-popup{
    left: -14px;
}

.ikPGallery-point.popup-x-right .ikPGallery-point-popup:after{
    left: 8px;
}

.ikPGallery-pp-title{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.ikPGallery-pp-description{
    font-size: 14px;
    font-style: italic;
    color: #757575;
    font-weight: 300;
    margin-bottom: 20px;
}
.ikPGallery-point:hover,
.ikPGallery-point.is-touched{
    z-index: 15;
}

.ikPGallery-point.dragged{
    z-index: 100;
}

.ikPGallery-point.dragged .ikPGallery-point-pin{
    pointer-events: none;
}

.ikPGallery-image.dragged + .ikPGallery-points .ikPGallery-point:not(.dragged){
    pointer-events: none;
}

.ikProductsGallery.is-not-touch-device .ikPGallery-point:not(.dragged):hover .ikPGallery-point-popup,
.ikProductsGallery.is-touch-device .ikPGallery-point:not(.dragged).is-touched .ikPGallery-point-popup{
    opacity: 1;
    pointer-events: auto;
}

.products-list{
    max-height: 220px;
    overflow: hidden;
    overflow-y: auto;
}

.product-item label{
    display: block;
}

.product-item label input{
    position: absolute;
    left: -999999em;
}

.product-item .pp-product-top{
    padding: 10px;
    margin: 0;
}

.product-item label input:checked + .pp-product-top{
    background: #eceff0;
}

.pp-product-top{
    display: table;
    table-layout: fixed;
    width: 100%;
    margin-bottom: 10px;
}

.pp-product-left,
.pp-product-right{
    display: table-cell;
    vertical-align: middle;
}

.pp-product-left{
    width: 70px;
}

.pp-product-left img{
    max-width: 100%;
}

.pp-product-right{
    width: 100%;
    padding-left: 20px;
}